<div class="container">
  <table class="table table-striped">
    <thead>
    <th>id</th>
    <th>task</th>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{task.id}}</td>
      <td>{{task.taskDescription}}</td>
    </tr>
    </tbody>
  </table>
</div>
