<div class="container">
  <router-outlet>
    <div class="form group">
      <button class="btn btn-primary" (click)="openTasks()" >Tasks</button>
      <button class="btn btn-primary" (click)="openArchive()" >Archive</button>
    </div>
  </router-outlet>
</div>
