<div class="container">
  <table class="table table-striped">
    <thead>
    <th>id</th>
    <th>task</th>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{task.id}}</td>
      <td>{{task.taskDescription}}</td>
      <td>
        <button class="btn btn-primary" (click)="archiveTask(task)">Archive</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="createNewTask()">Create new task</button>
</div>
