<div class="container">
  <form (ngSubmit)="submitForm()">
    <div class="form group">
      <label for="taskDescription">Task</label>
      <input type="text"  name="taskDescription" class="form-control" [(ngModel)]="task.taskDescription" >
    </div>
    <input type="submit" value="save" class="btn btn-success">
  </form>
</div>
